body {
    margin: auto;    
}

main {
    font-family: 'David Libre', serif;
}

.mnu {
    text-align: center;
    background-color: rgb(111, 195, 223);
    line-height: 55px;    
}

.mnu_lnks {
    display: inline-block;
    margin-right: 5px;        
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;    
    font-weight: bold;    
}

#abt_sctn {
background-color: rgb(8, 76, 99);
color: white;
font-size: 20px;
}

#abt_div {
    margin-right: 150px;
    height: 350px;
}

#name_hdr {
    margin-top: 0px;
    pad
}

.spcltys {
    display: inline-block;
    text-align: center;
    background-color:teal ;    
    width: 5em;
    height: 1.2em;
}

#cntct_div {
    display: inline-block;
    font-size: 0.9em;
    
}

#my_img {
    display: inline-block;
    height: 320px;
    border: 2px solid black;
    position: relative;
    right: 65%;
    bottom: 81%;
}

#prjct_sctn {
    background-color: lightblue;
}

#prjct_hdr {
    margin-top: 0px;
    margin-right: 150px;
    padding-top: 20px;    
}

.prjcts_divs {
    margin-right: 150px;    
    width: auto;
    height: 340px;
    position: relative;    
}

.prjct_img {
    display: inline-block;
    position: relative;        
    top: 83px;        
    border: 2px solid;
    height: 174px;
}

.prjct_txt {
    display: inline-block;
    position: relative;            
    right: 150px;
    height: 174px;    
}

#cntct_sctn {
    text-align: center;
    background-color: lightskyblue;
}

#cntct_sctn h2 {
    margin-top: 0px;
}

#cntct_sctn fieldset {
    border-style: none;
}

#cpy_rts {
    text-align: center;
    background-color:rgb(10, 103, 134) ;
    line-height: 2em;
    font-family: 'David Libre', serif;
}




